# silverlight stuff
src/silverlight/obj/*
src/silverlight/Bin/*
#Sass cache
src/css/.sass-cache*

tests/*
newfeatures/*
/mejs3/
#exceptions
!build/jquery.js
!build/modernizr-2.5.3.js
!build/jquery.ba-resize.min.js
!build/flashmediaelement.swf
!build/silverlightmediaelement.xap
# Skins
skin/*
