@import "compass";

// ************* SASS CONFIGURATION VARIABLES *************

//background
$background: "background.png";

//loading overlay
$overlay-loading-start: #323232;
$overlay-loading-end: black;
$overlay-loading-opacity: 0.9;

//tooltip
$tooltip-bg-color: #ffffff;
$tooltip-font-color: #000000;

//background controls
$background-controls-start: #222;
$background-controls-end: #222;
$background-controls-opacity: 1;

//background controls buttons on focus
$buttons-focus-bg: #666;
$buttons-active-bg: #323232;

//volume contols
$volume-plus-minus-bg: black;
$volume-plus-minus-opacity: 0.3;
$volume-slider-bg: #222;
$volume-total-bg: #fff;
$volume-current-bg: #fff;
$volume-handle-bg: #fff;
$volume-slider-opacity: 0.8;
$volume-total-opacity: 1;
$volume-current-opacity: 0.9;
$volume-handle-opacity: 1;

// *** time rail ***

//total time bar
$total-time-start: #000000;
$total-time-end: #000000;

//buffering bar
$background-buffering: white;
$buffering-opacity: 0.15;
$buffering-start: #ddd;
$buffering-end: #ddd;
$buffering-gradient-opacity: 0.2;

//loaded time progess bar
$time-loaded-start: #5b5b5b;
$time-loaded-end: #5b5b5b;

//current time  bar
$time-current-start: #FFFFFF;
$time-current-end: #FFFFFF;

//time rail opacity
$time-rail-opacity: 1;

//time hanfle show / hide
$mejs-time-handle-opacity: 1;

//rewind/forward
$time-nav-bg: transparent;

//chapters
$chapter-start: #666666 ;
$chapter-end: black;
$chapter-opacity: 0.7;

$chapter-hover-start: #666666;
$chapter-hover-end: #323232;
$chapter-hover-opacity: 0.6;

// ************* END OF SASS CONFIGURATION VARIABLES *************


.invisible {display: none;}

.mejs-container {
  //font-size:1.2rem;
  font-size:1.1em;
  position: relative;
  background: #000;
  font-family: Helvetica, Arial; }

.me-plugin {
  position: absolute; }

.mejs-embed {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden; } }

.mejs-container-fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1000;
  .mejs-mediaelement, video {
    width: 100%;
    height: 100%; } }

/* Start: LAYERS */

.mejs-background {
  position: absolute;
  top: 0;
  left: 0; }

.mejs-mediaelement {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.mejs-poster {
  position: absolute;
  top: 0;
  left: 0;
  img {
    border: 0;
    padding: 0;
    border: 0;
    display: block; } }

.mejs-overlay {
  position: absolute;
  top: 0;
  left: 0; }

.mejs-overlay-play {
  cursor: pointer; }

.mejs-overlay-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  background: url(bigplay.png) no-repeat; }

.mejs-overlay:hover .mejs-overlay-button {
  background-position: 0 -100px; }

.mejs-overlay-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  background: mix($overlay-loading-start, $overlay-loading-end);
  background: rgba($overlay-loading-end, $overlay-loading-opacity);
  @include background-image(linear-gradient(rgba($overlay-loading-start, $overlay-loading-opacity), rgba($overlay-loading-end, $overlay-loading-opacity)));
  @include filter-gradient($overlay-loading-start, $overlay-loading-end);
  span {
    display: block;
    width: 80px;
    height: 80px;
    background: transparent url(loading.gif) 50% 50% no-repeat; } }

/* End: LAYERS */

/* Start: CONTROL BAR */

.mejs-container .mejs-controls {
  position: absolute;
  background: none;
  list-style-type: none;
  margin: 0;
  padding: 5px 0;
  bottom: 0;
  left: 0;
  background: rgba($background-controls-end, $background-controls-opacity);
  @include background-image(linear-gradient(rgba($background-controls-start, $background-controls-opacity), rgba($background-controls-end, $background-controls-opacity)));
  @include filter-gradient($background-controls-start, $background-controls-end);
  width: 100%;
  div {
    list-style-type: none;
    background-image: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 0.917em;
    background: 0;
    font-family: Helvetica, Arial;
    border: 0;
    vertical-align: middle; } }

.mejs-controls button, .mejs-tooltip button {
  cursor: pointer;
  display: block;
  font-size: 100%;
  line-height: 0;
  text-decoration: none;
  margin: 0.1em;
  height: 1.1em;
  width: 1.1em;
  border: 0;
  //&:focus {
    //outline: solid 1px yellow; }
  }

/* :focus for accessibility */

/* End: CONTROL BAR */

.mejs-container .mejs-controls {
  > div {
    display: table-cell;
    text-align: center;
    padding: 0 5px; }
  .mejs-time-rail {
    padding: 0; }
  .mejs-time {
    color: #fff;
    text-align: center;
    span {
      font-size: 0.917em;
      color: #fff; } } }


/* background for IE */
.no-svg {
  .mejs-tooltip { background: url(05tooltip.png) no-repeat center center; }
  .mejs-controls {
    .mejs-play button {
      background: url(controls-grey/play.png) no-repeat center center; }
    .mejs-pause button {
      background: url(controls-grey/pause.png) no-repeat center center; }
    .mejs-stop button {
      background: url(controls-grey/stop.png) no-repeat center center; }
    .mejs-fullscreen-button button {
      background: url(controls-grey/fullscreen.png) no-repeat center center; }
    .mejs-unfullscreen button {
      background: url(controls-grey/unfullscreen.png) no-repeat center center; }
    .mejs-volume-button {}
    .mejs-mute button {
      background: url(controls-grey/mute.png) no-repeat center center; }
    .mejs-unmute button {
      background: url(controls-grey/unmute.png) no-repeat center center; }
    .mejs-captions-button {
      position: relative;
      button {
        background: transparent url(controls-grey/caption.png) no-repeat center center; } }
    .mejs-loop-off button {
      background: transparent url(controls-grey/loopoff.png) no-repeat center center; }
    .mejs-loop-on button {
      background: transparent url(controls-grey/loopon.png) no-repeat center center; }
    .mejs-backlight-off button {
      background: transparent url(controls-grey/backlightoff.png) no-repeat center center; }
    .mejs-backlight-on button {
      background: transparent url(controls-grey/backlighton.png) no-repeat center center;}
    .mejs-picturecontrols-button {
      background: transparent url(controls-grey/picturecontrols.png) no-repeat center center; }
    .mejs-time-rail {
      .mejs-time-handle-rewind {
        background: transparent url(controls-grey/rail_-.png) no-repeat center center; background-color: $time-nav-bg;}
      .mejs-time-handle-forward {
        background: transparent url(controls-grey/rail_+.png) no-repeat center center; background-color: $time-nav-bg;}}
    .mejs-volume-button {
      .mejs-volume-slider, .mejs-volume-slider.horizontal {
        background-color: $volume-slider-bg;
        .mejs-volume-plus {
          background: transparent url(controls-grey/volume_+.png) no-repeat center center; background-color: $volume-plus-minus-bg;}
        .mejs-volume-minus {
          background: transparent url(controls-grey/volume_-.png) no-repeat center center; background-color: $volume-plus-minus-bg;}}
    } }}

//Tooltip
.mejs-tooltip {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1000;
  button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 0.6em;
    width: 0.6em;
    background: transparent url(controls-grey/tooltip.svg) no-repeat; 
    opacity:0.2;
    filter:alpha(opacity=20);
   &:focus, &:hover {
     opacity:1;
     filter:alpha(opacity=100);}
}}
.bubble-text {
  border-radius: 10px;
  display: none;
  max-width: 8em;
  position: absolute;
  bottom: -1.3em;
  right: 0.8em;
  padding: 0.4em;
  color: $tooltip-font-color;
  background-color: $tooltip-bg-color;
  text-align: left;
  font-size: 0.6em;
  line-height: 1em;
   z-index: 1001;
}

/* normal background */
.mejs-controls {
  //play
  .mejs-play button {
    background: transparent url(controls-grey/play.svg) no-repeat;
    background-size: contain;
    &:focus {
      background-color: $buttons-focus-bg;}}
  //pause
  .mejs-pause button {
    background: transparent url(controls-grey/pause.svg) no-repeat;
    background-size: contain;
    &:focus {
      background-color: $buttons-focus-bg;}}
  //stop
  .mejs-stop button {
    background: transparent url(controls-grey/stop.svg) no-repeat;
    background-size: contain;
    &:focus {
      background-color: $buttons-focus-bg;}}
  /*Start: time trail*/
  div.mejs-time-rail {
    width: 100%; }
  .mejs-time-rail {
    .mejs-time-total {
      width: 100%; }
    span {
      display: block;
      width: 180px;
      height: 0.6em;
      @include border-radius(0);
      cursor: pointer; }
    > span {
      position: relative;
      > span {
        position: absolute;
        top: 0;
        left: 0; } }
    .mejs-time-total {
      background: mix($total-time-start, $total-time-end);
      background: rgba($total-time-end, $time-rail-opacity);
      @include background-image(linear-gradient(rgba($total-time-start, $time-rail-opacity), rgba($total-time-end, $time-rail-opacity)));
      @include filter-gradient($total-time-start, $total-time-end); }
    .mejs-time-buffering {
      width:100%;
      background: rgba($background-buffering, $buffering-opacity);
      @include background-image(linear-gradient(rgba($buffering-start, $buffering-gradient-opacity), rgba($buffering-end, $buffering-gradient-opacity)));
      @include filter-gradient($buffering-start, $buffering-end); }
    .mejs-time-current {
      -webkit-background-size: 15px 15px;
      -moz-background-size: 15px 15px;
      -o-background-size: 15px 15px;
      background-size: 15px 15px;
      -webkit-animation: buffering-stripes 2s linear infinite;
      -moz-animation: buffering-stripes 2s linear infinite;
      -ms-animation: buffering-stripes 2s linear infinite;
      -o-animation: buffering-stripes 2s linear infinite;
      animation: buffering-stripes 2s linear infinite;}

    @-webkit-keyframes buffering-stripes { from {background-position: 0 0;} to {background-position: 30px 0;} }
    @-moz-keyframes buffering-stripes { from {background-position: 0 0;} to {background-position: 30px 0;} }
    @-ms-keyframes buffering-stripes { from {background-position: 0 0;} to {background-position: 30px 0;} }
    @-o-keyframes buffering-stripes { from {background-position: 0 0;} to {background-position: 30px 0;} }
    @keyframes buffering-stripes { from {background-position: 0 0;} to {background-position: 30px 0;} }
    .mejs-time-loaded {
      width: 0;
      background: mix($time-loaded-start, $time-loaded-end);
      background: rgba($time-loaded-end, $time-rail-opacity);
      @include background-image(linear-gradient(rgba($time-loaded-start, $time-rail-opacity), rgba($time-loaded-end, $time-rail-opacity)));
      @include filter-gradient($time-loaded-start, $time-loaded-end); }
    .mejs-time-current {
      width: 0;
      background: mix($time-current-start, $time-current-end);
      background: rgba($time-current-end, $time-rail-opacity);
      @include background-image(linear-gradient(rgba($time-current-start, $time-rail-opacity), rgba($time-current-end, $time-rail-opacity)));
      @include filter-gradient($time-current-start, $time-current-end); }
    .mejs-time-handle {
      opacity: $mejs-time-handle-opacity;
      position: absolute;
      margin: 0;
      width: 10px;
      background: #fff;
      @include border-radius(0);
      cursor: pointer;
      border: 0;
      top: 0px;
      text-align: center; }
    .mejs-time-handle-rewind {
      background: transparent url(controls-grey/rail_-.svg) no-repeat;
      background-color: $time-nav-bg;
      background-size: contain;
      height: 0.8em;
      width: 0.8em;
      position: absolute;
      left: -0.2em;
      top: -0.2em;
      &:focus {
      background-color: $buttons-focus-bg;}}
    .mejs-time-handle-forward {
      background: transparent url(controls-grey/rail_+.svg) no-repeat;
      background-color: $time-nav-bg;
      background-size: contain;
      height: 0.8em;
      width: 0.8em;
      position: absolute;
      right: -1em;
      top: -0.2em;
      &:focus {
      background-color: $buttons-focus-bg;}}
    .mejs-time-float {
      position: absolute;
      display: none;
      background: #eee;
      width: auto;
      height: auto;
      border: solid 1px #333;
      top: -2.3em;
      text-align: center;
      color: #111;
      padding: 0.2em 0.2em 0;
      left: 0;
      margin-left: -1.49em; }
    .mejs-time-float-current {
      width: auto;
      height: auto;
      display: block;
      text-align: center; }
    .mejs-time-float-corner {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      line-height: 0;
      border: solid 0.35em #eee;
      border-color: #eee transparent transparent transparent;
      @include border-radius(0);
      bottom: -0.57em;
      left: 50%;
      margin-left: -0.3em; } }
  /*End:; time trail*/
  //fullscreen
  .mejs-fullscreen-button button {
    background: transparent url(controls-grey/fullscreen.svg) no-repeat;
    background-size: contain;
    &:focus {
     background-color: $buttons-focus-bg;}}
  .mejs-unfullscreen button {
    background: transparent url(controls-grey/unfullscreen.svg) no-repeat;
    background-size: contain;
    &:focus {
     background-color: $buttons-focus-bg;}}
  /*Start: volume control*/
  .mejs-volume-button {}
  .mejs-mute button {
    background: transparent url(controls-grey/mute.svg) no-repeat;
    background-size: contain;
   &:focus {
      background-color: $buttons-focus-bg;}}
  .mejs-unmute button {
    background: transparent url(controls-grey/unmute.svg) no-repeat;
    background-size: contain;
    &:focus {
      background-color: $buttons-focus-bg;}}
  .mejs-volume-button {
    position: relative;
     /* vertical version */
    .mejs-volume-slider {
      display: none;
      height: 7.4em;
      width: 1em;
      background: url($background);
      background: rgba($volume-slider-bg, $volume-slider-opacity);
      @include border-radius(0);
      bottom: 1em;
      z-index: 1;
      position: absolute;
      margin: 0; }
    &:hover {
      @include border-radius(0 0 4px 4px); }
    .mejs-volume-slider {
      .mejs-volume-total {
        position: absolute;
        left: 0.5em;
        top: 1.2em;
        width: 0.1em;
        height: 5.7em;
        background: #ddd;
        background: rgba($volume-total-bg, $volume-total-opacity);
        margin: 0; }
      .mejs-volume-current {
        position: absolute;
        left: 0.5em;
        top: 1.2em;
        width: 0.1em;
        height: 5.7em;
        background: #ddd;
        background: rgba($volume-current-bg, $volume-current-opacity);
        margin: 0; }
      .mejs-volume-handle {
        position: absolute;
        left: 0.15em;
        top: -0.2em;
        width: 0.8em;
        height: 6px;
        background: #ddd;
        background: rgba($volume-handle-bg, $volume-handle-opacity);
        cursor: n-resize;
        @include border-radius(1px);
        margin: 0;}
      .mejs-volume-plus {
        background: transparent url(controls-grey/volume_+.svg) no-repeat;
        background-color: rgba($volume-plus-minus-bg, $volume-plus-minus-opacity);
        background-size: contain;
        height: 0.8em;
        width: 0.8em;
        position: absolute;
        left: 0.1em;
        top: 0.1em;
        &:focus {
          background-color: $buttons-focus-bg;}}
      .mejs-volume-minus{
        background: transparent url(controls-grey/volume_-.svg) no-repeat;
        background-color: rgba($volume-plus-minus-bg, $volume-plus-minus-opacity);
        background-size: contain;
        height: 0.8em;
        width: 0.8em;
        position: absolute;
        left: 0.1em;
        bottom: 0.1em;
        &:focus {
          background-color: $buttons-focus-bg;}}
        }
    /*horizontal version*/
    .mejs-volume-slider.horizontal {
      width: 7.6em;
      height: 1em;
      bottom: 1.3em;
      margin-left: -4.5em;
      .mejs-volume-total {
        top: 0.5em;
        left: 1.2em;
        height: 0.1em;
        width: 5.7em;}
     .mejs-volume-current {
        left: 1.2em;
        top: 0.5em;
        height: 0.1em;
        width: 5.7em;}
      .mejs-volume-handle {
        cursor: e-resize;
        top: 0.15em;
        left: 1.1em;
        height: 0.8em;
        width: 6px;}
      .mejs-volume-plus{
        left: 6.5em;
        top: 0.1em;}
      .mejs-volume-minus{
        left: 0.1em;
        top: 0.1em;}
    } }
    /*End: volume control*/

  /* End: TRACK (Captions and Chapters) */
  .mejs-captions-button {
    position: relative;
    button {
      background: transparent url(controls-grey/caption.svg) no-repeat;
      background-size: contain; }
    button:focus {
    background-color: $buttons-focus-bg;}
    .activeButton { background-color: $buttons-active-bg;}
    .mejs-captions-selector {
      visibility: hidden;
      position: absolute;
      bottom: 26px;
      right: -10px;
      width: 130px;
      height: 100px;
      background: url($background);
      background: rgba(50, 50, 50, 0.7);
      border: solid 1px transparent;
      padding: 10px;
      overflow: hidden;
      @include border-radius(0);
      ul {
        margin: 0;
        padding: 0;
        display: block;
        list-style-type: none !important;
        overflow: hidden;
        li {
          margin: 0 0 6px 0;
          padding: 0;
          list-style-type: none !important;
          display: block;
          color: #fff;
          overflow: hidden;
          input {
            clear: both;
            float: left;
            margin: 3px 3px 0 5px; }
          label {
            width: 100px;
            float: left;
            padding: 4px 0 0 0;
            line-height: 15px;
            font-family: helvetica, arial;
            font-size: 10px; } } } }
    .mejs-captions-translations {
      font-size: 10px;
      margin: 0 0 5px 0; } } }

.mejs-chapters {
  position: absolute;
  top: 0;
  left: 0;
  -xborder-right: solid 1px #fff;
  width: 10000px;
  .mejs-chapter {
    position: absolute;
    float: left;
    background: $chapter-end;
    background: rgba($chapter-end, $chapter-opacity);
    @include background-image(linear-gradient(rgba($chapter-start, $chapter-opacity), rgba($chapter-end, $chapter-opacity)));
    @include filter-gradient($chapter-start, $chapter-end);
    overflow: hidden;
    border: 0;
    .mejs-chapter-block {
      font-size: 0.917em;
      color: #fff;
      padding: 5px;
      display: block;
      border-right: solid 1px #333;
      border-bottom: solid 1px #333;
      cursor: pointer; }
    .mejs-chapter-block-last {
      border-right: none; }
    .mejs-chapter-block {
      &:hover {
        background: $chapter-hover-end;
        background: rgba($chapter-hover-end, $chapter-hover-opacity);
        @include background-image(linear-gradient(rgba($chapter-hover-start, $chapter-hover-opacity), rgba($chapter-hover-end, $chapter-hover-opacity)));
        @include filter-gradient($chapter-hover-start, $chapter-hover-end); }
      .ch-title {
        font-size: 12px;
        font-weight: bold;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0 0 3px 0;
        line-height: 12px; }
      .ch-timespan {
        font-size: 12px;
        line-height: 12px;
        margin: 3px 0 4px 0;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis; } } } }

.mejs-captions-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  /*font-weight: bold;*/
  line-height: 1.575em;
  font-size: 1em;
  color: #fff;
  a {
    color: #fff;
    text-decoration: underline; }
  &[lang=ar] {
    font-size: 1.25em;
    font-weight: normal; } }

.mejs-captions-position {
  position: absolute;
  width: 100%;
  bottom: 2em;
  left: 0; }

.mejs-captions-position-hover {
  bottom: 2.5em; }

.mejs-captions-text {
  padding: 3px 5px;
  background: url($background);
  background: rgba(20, 20, 20, 0.8); }

/* End: TRACK (Captions and Chapters) */

.mejs-clear {
  clear: both; }

/* Start: ERROR */

.me-cannotplay {
  a {
    color: #fff;
    font-weight: bold; }
  span {
    padding: 15px;
    display: block; } }

/* End: ERROR */

/* Start: Loop */

.mejs-controls {
  .mejs-loop-off button {
    background: transparent url(controls-grey/loopoff.svg) no-repeat;
    background-size: contain; }
  .mejs-loop-on button {
    background: transparent url(controls-grey/loopon.svg) no-repeat;
    background-size: contain; }
  .mejs-backlight-off button {
    background: transparent url(controls-grey/backlightoff.svg) no-repeat;
    background-size: contain; }
  .mejs-backlight-on button {
    background: transparent url(controls-grey/backlighton.svg) no-repeat;
    background-size: contain; }
  .mejs-picturecontrols-button {
    background: transparent url(controls-grey/picturecontrols.svg) no-repeat;
    background-size: contain; } }

/* End: Loop */

/* Start: backlight */

/* End: backlight */

/* Start: picture controls */

/* End: picture controls */

/* context menu */

.mejs-contextmenu {
  position: absolute;
  width: 150px;
  padding: 10px;
  @include border-radius(4px);
  top: 0;
  left: 0;
  background: #fff;
  border: solid 1px #999;
  z-index: 1001;
  /* make sure it shows on fullscreen */
  .mejs-contextmenu-separator {
    height: 1px;
    font-size: 0;
    margin: 5px 6px;
    background: #333; }
  .mejs-contextmenu-item {
    font-family: Helvetica, Arial;
    font-size: 0.75em;
    padding: 4px 6px;
    cursor: pointer;
    color: #333;
    &:hover {
      background: #2C7C91;
      color: #fff; } } }

.mejs-controls .mejs-sourcechooser-button {
  position: relative;
}

.mejs-controls .mejs-sourcechooser-button button {
  background-position: -128px 0;
}
.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector {
  visibility: hidden;
  position: absolute;
  bottom: 26px;
  right: -10px;
  width: 130px;
  height: 100px;
  background: url(background.png);
  background: rgba(50,50,50,0.7);
  border: solid 1px transparent;
  padding: 10px;
  overflow: hidden;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul {
  margin: 0;
  padding: 0;
  display: block;
  list-style-type: none !important;
  overflow: hidden;
}
.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li{
  margin: 0 0 6px 0;
  padding: 0;
  list-style-type: none !important;
  display:block;
  color: #fff;
  overflow: hidden;
}
.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li input{
  clear: both;
  float: left;
  margin: 3px 3px 0 5px;
}
.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li label{
  width: 100px;
  float: left;
  padding: 4px 0 0 0;
  line-height: 0.9375em;
  font-family: helvetica, arial;
  font-size: 0.625em;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  &.focusable {
    &:active, &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto; } } }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */

/* IE FIXES */

.ie7 div {
  display: inline;
  zoom: 1;
  margin: 0 5px;
  padding: 0; }